@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "rehype-callouts/theme/obsidian";
@import "tw-animate-css";

@font-face {
  font-family: "Geist";
  src: url("/fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Medium.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("/fonts/noto-sans-arabic-v33-arabic-regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Array Wide";
  src: url("/fonts/Array-Wide.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/*SOME CHANGES FOR THE ARABIC FONT SIZE*/
[dir="rtl"] {
  font-size: 1em;
}

[dir="rtl"] body {
  line-height: 1.15;
}

[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3 {
  font-weight: 700;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply max-w-app mx-auto w-full px-4;
}

@utility active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

:target {
  scroll-margin-block: 1rem;
}